
<main>
  <div id="context" class="container">
      <div class="title-context">
        <h2>About</h2>
      </div>
      <div class="content">
        <p class="lead">Diplômé d’un Master en management et formé pendant cinq ans dans le milieu bancaire, j’ai acquis des techniques me permettant de mener un entretien organisé et argumenté. </p><br>
        <p class="lead">Conseiller clientèle puis expert immobilier, j’ai l’habitude de décortiquer le budget des particuliers et de comparer chaque poste de dépense.</p><br>
      </div>
    </div>
  </div>
</main>


