<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <h4 class="navbar-brand col-sm-3 col-md-2 mr-0">Mon dashboard</h4>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 bg-light">
			<ul class="nav flex-column">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Mon profile</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Mes simulations validées</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Mes simulations non validées</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Nouvelle simulation</a>
			  </li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2 class="profile-title"><strong>Mon profil</strong></h2>
		</div>
	</div>
</div>


