
<main>
  <div class="container px-4 about-section">
    <div class="title-context">
      <h2>A propos de Point Budget</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Diplômé d’un Master en management et formé pendant cinq ans dans le milieu bancaire, j’ai acquis des techniques me permettant de mener un entretien organisé et argumenté. <br> Conseiller clientèle puis expert immobilier, j’ai l’habitude de décortiquer le budget des particuliers et de comparer chaque poste de dépense.</p><br>
    </div>
    <div class="content">
      <p class="lead text-justify"> Le constat que je tire de mon expérience bancaire est que les particuliers ont besoin d’aide pour choisir les contrats dans lesquels ils vont s’engager afin de maitriser au mieux leur budget.</p>
    </div>
  </div>

  <div class="container about-section">
    <div class="title-context">
      <h2>Pourquoi?</h2>
    </div>
    <div class="content text-justify">
      <p class="lead">Tout simplement car nous ne pouvons pas être spécialisés dans tous les domaines! De plus, d'autres paramètres non négligeables font abandonner le consommateur dans sa quête de réduction de son budget mensuel: </p>
      <ul>
        <li class="lead"><strong>Manque de temps:</strong> comparer demande beaucoup de temps, de l'énergie, de la persévérance... Et vous ne l'avez pas forcément!</li><br>
        <li class="lead"><strong>Peur de l’administratif:</strong> dans un système de surenchère au sein des démarches administratives, beaucoup de personne laisse tomber l'administratif "non-vital". </li><br>
        <li class="lead"><strong>Crainte de la nouveauté:</strong> certaines personnes se retrouvent destabilisées face à une nouvelle situation, et, du coup, n'entament pas les démarches nécessaires qui pourraient leur être bénéfiques.</li><br>  
        <li class="lead"><strong>Confiance et certitude d’avoir le meilleur contrat du marché:</strong> le monde des contrats n'est malheureusement pas statique et nécessite au consommateur d'être "en veille" permanente sur les changements tarifaires ou offres promotionnelles!</li><br>
        <li class="lead"><srtong>Peur des coûts de résiliation:</srtong> un grand classique!</li>  
      </ul>
    </div>
  </div>

  <div id="success-key" class="container d-flex flex-column bg-secondary text-white">
    <div class="row">
      <div class="col-12 mt-5 mb-4">
        <h2 class="title-benefits text-center">Les clés de la réussite</h2>
      </div>
    </div>
    <div class="content container mb-4 row d-flex justify-content-center">
      <h3 class="lead text-justify col-md-11"><strong>« Offrir une étude personnalisée sur les domaines choisis ou sur l’intégralité de leur budget afin de conforter le client dans son choix ou faire évoluer son contrat vers une meilleure offre »</strong></h3>
    </div>

    <div class="row d-flex justify-content-around my-4">
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary bg-white icon"><i class="fas fa-euro-sign"></i></span>
        <h5 class="title-color mt-2">Un service 100% gratuit</h5>
      </div>
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary bg-white icon"><i class="far fa-question-circle"></i></span>
        <h5 class="title-color mt-2">Un seul et même interlocuteur dédié à votre étude</h5>
      </div>
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary bg-white icon"><i class="fas fa-user"></i></span>
        <h5 class="title-color mt-2">Nous faisons toutes les démarches pour vous</h5>
      </div>
    </div>
  </div>

  <div class="container last-about-section">
    <div class="title-context">
      <h2>Point Budget face à la concurrence</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Le monde du courtage ne propose pas d’étude complète du budget et se contente simplement d’afficher un tarif. POINT Budget ne vous conseille pas seulement sur le prix mais propose un accompagnement complet.</p>
    </div>
  </div>
</main>




