
<main>
  <div class="about" class="container">
    <div class="title-context">
      <h2>About</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Diplômé d’un Master en management et formé pendant cinq ans dans le milieu bancaire, j’ai acquis des techniques me permettant de mener un entretien organisé et argumenté. </p><br>
      <p class="lead text-justify">Conseiller clientèle puis expert immobilier, j’ai l’habitude de décortiquer le budget des particuliers et de comparer chaque poste de dépense.</p><br>
    </div>

    <div class="content">
      <h3 class="text-justify">Le constat que je tire de mon expérience bancaire est que « les particuliers ont besoin d’aide pour choisir les contrats dans lesquels ils vont s’engager afin de maitriser au mieux leur budget». </h3>
    </div>
  </div>

  <div class="about" class="container">
    <div class="title-context">
      <h2>Pourquoi?</h2>
    </div>
    <div class="content">
      
    </div>

    <div class="content">
      <ul></ul>
    </div>
  </div>





</main>




