
<main>
  <div class="container px-4" >
    <div class="title-context">
      <h2>A propos de Point Budget</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Diplômé d’un Master en management et formé pendant cinq ans dans le milieu bancaire, j’ai acquis des techniques me permettant de mener un entretien organisé et argumenté. <br> Conseiller clientèle puis expert immobilier, j’ai l’habitude de décortiquer le budget des particuliers et de comparer chaque poste de dépense.</p><br>
    </div>
    <div class="content">
      <h3 class="text-justify indent blockquote"> « Le constat que je tire de mon expérience bancaire est que les particuliers ont besoin d’aide pour choisir les contrats dans lesquels ils vont s’engager afin de maitriser au mieux leur budget » </h3>
    </div>
  </div>

  <div class="container">
    <div class="title-context">
      <h2>Pourquoi?</h2>
    </div>
    <div class="content">
      <ul>
        <li class="lead">Par manque de temps</li>  
        <li class="lead">Par peur de l’administratif </li>  
        <li class="lead">Par crainte de la nouveauté</li>  
        <li class="lead">Par confiance et certitude d’avoir le meilleur contrat du marché </li>  
        <li class="lead">Par peur des couts de résiliation</li>  
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="title-context">
      <h2>La solution proposée par Point Budget</h2><br>
    </div>
    <div class="content">
      <h3 class="lead text-justify indent blockquote">« Offrir à notre clientèle une étude personnalisée sur les domaines choisis ou sur l’intégralité de leur budget afin de conforter le client dans son choix ou faire évoluer son contrat vers une meilleure offre »</h3>
    </div>
  </div>

  <div class="container">
    <div class="title-context">
      <h2>Les clés de réussites</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">POINT Budget propose un service 100% gratuit </p><br>
      <p class="lead text-justify">POINT Budget vous permets de gérer Assurance, Téléphonie, Mutuelle, Service Internet, … avec un seul et même interlocuteur dédié à votre étude</p><br>
      <p class="lead text-justify">POINT Budget vous propose de faire toutes les démarches pour vous </p>
    </div>
  </div>

  <div id="benefits" class="container-fluid d-flex flex-column bg-primary">
    <div class="row">
      <div class="col-12 mt-5 mb-4">
        <h2 class="title-benefits text-center">Les clés de la réussite</h2>
      </div>
    </div>

    <div class="row d-flex justify-content-around my-4">
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary icon"><i class="fas fa-euro-sign"></i></span>
        <h4 class="title-color mt-2">Un service 100% gratuit</h4>
      </div>
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary icon"><i class="far fa-question-circle"></i></span>
        <h4 class="title-color mt-2">Un seul et même interlocuteur dédié à votre étude</h4>
      </div>
      <div class="col-sm-8 col-md-3 icon-position mb-4">
        <span class="icon text-secondary icon"><i class="fas fa-user"></i></span>
        <h4 class="title-color mt-2">Nous faisons toutes les démarches pour vous</h4>
      </div>
    </div>
  </div>

  <div class="container", id="last-about">
    <div class="title-context">
      <h2>Ce qui me différencie de la concurrence</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Le monde du courtage ne propose pas d’étude complète du budget et se contente d’afficher un tarif<br><br> POINT Budget propose un accompagnement complet et vous conseil pas seulement sur le prix</p>
    </div>
  </div>
</main>




