
<main>
  <div class="container text-center" >
    <div class="title-context">
      <h2>Contact</h2>
    </div>
    <div class="content">
      <p class="lead text-center"> +33 3 33 33 33 33 <br><br> point@pointbudget.fr</p>
    </div>
  </div>
</main>