<main>
  <div class="container legal-page px-4">
    <div class="title text-center">
      <h2>Mentions légales</h2>
    </div>
    <div class="content">
      <h4>Le site PointBugdet.com est édité par :</h4><br>
      <ul class="profile-list" style="list-style-type:none">
        <li>Situé : 10 rue Jules Blaizet à CHENOVE 21300</li>
        <li>Téléphone : 06 52 68 00 80</li>
        <li>Email : <%= mail_to "pointbudget@hotmail.com"%></li>
      </ul>
      <p class="lead text-justify">
      Le directeur de la publication est Benjamin VAISSAC.<br><br>
    </div>
    <div class="content">
      <h4>Droits de propriété intellectuelle :</h4><br>
      <p class="lead text-justify">La structure générale, ainsi que les textes, images animées ou fixes, son, dessins, photographies, graphisme et tout autre élément composant le site, sont la propriété de l’Éditeur.<br><br>
      <p class="lead text-justify">La représentation, totale ou partielle de ce site, par quelque procédé que ce soit, et/ou des éléments y figurant, sans autorisation expresse et préalable de l’Éditeur, est interdite, et constituerait une contrefaçon sanctionnée par les articles <%= link_to 'L 335-2 et suivants du Code de la propriété intellectuelle', "http://www.legifrance.gouv.fr/affichCode.do?idSectionTA=LEGISCTA000006161658&cidTexte=LEGITEXT000006069414&dateTexte=20081114", :target => "_blank"%>.  <br><br>
      <p class="lead text-justify">Toute reproduction et/ou représentation et/ou rediffusion, en tout ou partie, sur tout support électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable. Toutes les demandes de reproduction et/ou représentation et/ou rediffusion doivent être envoyées à l’adresse email <%=mail_to "poinbudget@hotmail.com"%> . De même, les bases de données d’informations sont protégées. Toute extraction ou tentative d’extraction, fut-elle totale ou partielle, est susceptible d’engager les responsabilités civile et pénale de tout contrevenant.<br><br>
      <p class="lead text-justify">Les particuliers sont autorisés à utiliser le site dans un cadre strictement privé en respectant les conditions suivantes :</p><br>
      <ul>
        <li class="lead">le matériel imprimé ne peut être utilisé à des fins commerciales ;</li>
        <li class="lead">toute copie effectuée garde les mêmes droits de copyright que le matériel original ;</li>
        <li class="lead">la technologie et les procédés utilisés dans le site peuvent être sujets à d’autres droits de propriété intellectuelle appartenant à PointBudget;</li>
        <li class="lead">les images diffusées sur le site sont protégées et ne peuvent être reproduites sans le consentement écrit de leur propriétaire ;</li>
        <li class="lead">aucun logo ou aucune marque commerciale apparaissant sur le site ne peut être imprimé ou copié sauf en tant qu’illustration faisant partie d’un texte.</li>
      </ul><br>
      <p class="lead text-justify">Tous les droits de Point Budget réservés.</p>
    </div><br><br>
  </div>
</main>