<main>
  <div class="container px-4">
    <div class="title-context">
      <h2>Mentions légales</h2>
    </div>
    <div class="content">
      <h5>Le site PointBugdet.com est édité par :</h5><br><p>
      <strong>Pointbudget microsociété française est immatriculée à l’ORIAS sous le numéro 18007080.</strong></p><br>
      <ul style="list-style-type:none">
        <li>Numéro RCS : 842 079 683</li>
        <li>Code NAF : 6622Z</li>
        <li>Numéro de TVA intracommunautaire : FR 64 842 079 683</li>
        <li>Situé : 10 rue Jules Blaizet à CHENOVE 21300</li>
        <li>Téléphone : 06 52 68 00 80</li>
        <li>Numéro RCS : 842 079 683</li>
        <li>Email : <%= mail_to "Pointbudget@hotmail.com"%></li>
      </ul><br>
      <p class="lead text-justify">La microsociété Pointbudget est enregistrée auprès du Registre unique des Intermédiaires en Assurance, Banque et Finance (ORIAS). La société ne dispense pas de conseils sur les produits d’assurance présentés sur son site. Elle est enregistrée sous le numéro ORIAS 18007080 pour ses activités de courtage en assurance et en opérations de banque et services de paiement.<br><br>
      Le directeur de la publication est Benjamin VAISSAC.<br><br>
    </div>
    <div class="content">
      <h5>Le site Pointbudget.com est hébergé par : </h5><br>
      <ul style="list-style-type:none">
        <li><strong>Ecritel</strong></li>
        <li>51 rue Le Peletier, 75009 Paris – France</li>
        <li>SARL au capital de 2.325.000 €</li>
        <li>RCS Paris B 332 484 021</li>
      </ul><br>
      <p class="lead text-justify">En conformité avec les dispositions de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le site Poinbudget.com a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL). Numéro de déclaration CNIL : 1399951<br><br>
    </div>
    <div class="content">
      <h5>Droits de propriété intellectuelle :</h5><br>
      <p class="lead text-justify">La structure générale, ainsi que les textes, images animées ou fixes, son, dessins, photographies, graphisme et tout autre élément composant le site, sont la propriété de l’Éditeur.<br><br>
      <p class="lead text-justify">La représentation, totale ou partielle de ce site, par quelque procédé que ce soit, et/ou des éléments y figurant, sans autorisation expresse et préalable de l’Éditeur, est interdite, et constituerait une contrefaçon sanctionnée par les articles <%= link_to 'L 335-2 et suivants du Code de la propriété intellectuelle', "http://www.legifrance.gouv.fr/affichCode.do?idSectionTA=LEGISCTA000006161658&cidTexte=LEGITEXT000006069414&dateTexte=20081114", :target => "_blank"%>.  <br><br>
      <p class="lead text-justify">Toute reproduction et/ou représentation et/ou rediffusion, en tout ou partie, sur tout support électronique ou non, présent ou futur, sont interdites sauf autorisation expresse et préalable. Toutes les demandes de reproduction et/ou représentation et/ou rediffusion doivent être envoyées à l’adresse email <%=mail_to "Poinbudget@hotmail.com"%> . De même, les bases de données d’informations sont protégées. Toute extraction ou tentative d’extraction, fut-elle totale ou partielle, est susceptible d’engager les responsabilités civile et pénale de tout contrevenant.<br><br>
      <p class="lead text-justify">Les particuliers sont autorisés à utiliser le site dans un cadre strictement privé en respectant les conditions suivantes :</p><br>
      <ul>
        <li class="lead">le matériel imprimé ne peut être utilisé à des fins commerciales ;</li>
        <li class="lead">toute copie effectuée garde les mêmes droits de copyright que le matériel original ;</li>
        <li class="lead">la technologie et les procédés utilisés dans le site peuvent être sujets à d’autres droits de propriété intellectuelle appartenant à Lelynx ;</li>
        <li class="lead">les images diffusées sur le site sont protégées et ne peuvent être reproduites sans le consentement écrit de leur propriétaire ;</li>
        <li class="lead">aucun logo ou aucune marque commerciale apparaissant sur le site ne peut être imprimé ou copié sauf en tant qu’illustration faisant partie d’un texte.</li>
      </ul><br>
      <p class="lead text-justify">Tous les droits de Point Budget réservés.</p>
    </div><br><br>
  </div>
</main>