<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Un utilisateur demande une prise de contact</h1>
<p>
  L'utilisateur <%=@user.email %> a demandé à être mis en contact suite à sa dernière simulation
</p>
</body>
</html>
