<!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PointBudget vous souhaite une bonne continuation</h1>
    <p>
      Vous venez de supprimer votre compte de l'application PointBudget.
    </p>
    <p>
      Pour de nouveau vous inscrire, veuillez suivre ce lien : <%= link_to 'S\'inscrire', @url  %>.
    </p>
    <p> À très vite sur PointBudget!
  </body>
</html>
