<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Vous venez de réaliser une Simulation chez PointBudget</h1>
  <p>
    Vous allez enfin pouvoir faire les économies dont vous avez toujours rêvées!
  </p>
  <p>
    Pour accéder à votre espace client, connectez-vous via : <%= link_to 'Mon dashboard', @url  %>.
  </p>
  <p> À très vite sur PointBudget!
  </body>
</html>
