<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez PointBudget !</h1>
    <p>
      Vous vous êtes inscrits sur l'application PointBudget en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur PointBudget!
  </body>
</html>
