<%= render partial: "shared/form", locals:{resource: @ele_simulation,
                                           action: 'new_ele_simulation',
                                           path: user_full_simulation_ele_simulations_path(current_user,
                                                                                           @full_simulation),
                                           method: :post,
                                           title: 'Simulation électricité',
                                           button: "Terminer"}%>

<div class="d-flex align-self-start">
	<%= link_to "Back", :back %>
</div>
