
<%= render partial: "shared/form", locals:{resource: @gas_simulation,
                                           action: 'new_gas_simulation',
                                           path: user_full_simulation_gas_simulations_path(current_user,
                                                                                           @full_simulation),
                                           method: :post,
                                           title: 'Simulation gaz',
                                           button: "Terminer"}%>

<div>
	<%= link_to "Back", :back %>
</div>
