<%= button_tag class: "btn-simu-#{sub_category} btn-simu btn btn-#{bg} #{animate}", id:"btn-#{category}", style: style, disabled: disabled do %>
  <div class="d-flex justify-content-around align-items-center text-white">
    <span class="icon"><i class="<%=icon%>"></i> </span>
    <h5 class="mt-4"><%=name %></h5>
  </div>
<% end %>