<div class="container simu-section-top">
  <div class="row">
    <div class="col-md-12 d-flex flex-column align-items-center">
      <div class="simu-title">
        <h2>Ajoutez une simulation maintenant et complétez là plus tard</h2>
      </div>
      <div>
        <%=link_to "Ajout rapide", user_full_simulations_path(current_user), method: :post, class: "btn btn-lg btn-primary btn-result", remote: true%>
      </div>
    </div>
  </div>
</div>

<div class="simu-section-top container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 simu-title">
       <h2><strong>Vos simulations en cours</strong></h2>
    </div>
    <div class="col-md-10">
      <table class="table table-responsive-sm table-striped" id="table-non-validated">
       <thead class="bg-primary text-white">
          <tr>
            <th scope="col" style="width: 25%;">Créée le</th>
            <th scope="col" style="width: 25%;">Mise à jour le</th>
            <th scope="col" style="width: 30%;">Catégories testées</th>
            <th colspan="3" style="width: 30%;" class="text-center">Mes actions</th>
          </tr>
        </thead>
        <tbody>
          <% unless @simulations.nil? %>
            <% @simulations.each do |simu| %>
              <% if simu.validated == false %>
                <%= render partial:'add_line_index', locals:{simu: simu, confirmed: false} %>
              <%end%>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="simu-section-bottom container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 simu-title">
        <h2><strong>Vos simulations validées</strong></h2>
    </div>
    <div class="col-md-10">
      <table class="table table-responsive-sm table-striped" id="table-validated">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col" style="width: 20%;">Economies</th>
            <th scope="col" style="width: 40%;">Validée le</th>
            <th scope="col" style="width: 30%;">Catégories testées</th>
            <th colspan="3" style="width: 20%;" class="text-center">Mes actions</th>
          </tr>
        </thead>
        <tbody>
          <% unless @simulations.nil? %>
            <% @simulations.each do |simu| %>
              <% if simu.validated == true %>
                <%= render partial:'add_line_index', locals:{simu: simu, confirmed: true} %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
