<h1>FullSimulations#new</h1>
<p>Find me in app/views/full_simulations/new.html.erb</p>
<br>
<br>
<br>
<%=link_to "Nouvelle Simulation", user_full_simulations_path(current_user), method: :post, class: "btn btn-primary"%>
