<div class="title text-center">
  <h5>Munissez vous des factures trop chères à votre goût ! <button id="btn-click-1">Cliquez ici</button> pour voir les domaines analysés</h5>
  <ul style="list-style: none;">
    <li>Assurances</li>
    <li>Banquaire</li>
    <li>Energies (gaz/electricité)</li>
    <li>Numérique</li>
    <li>Mutuelle</li>
  </ul>
  <h3>Pour commencer à économiser, cliquez ici :</h3>
  <br>
  <div>
    <%=link_to "Lancer ma simulation", user_full_simulations_path(current_user), method: :post, class: "btn btn-primary animate-up-3 btn-lg"%>
  </div>
</div>
