<div class="title text-center">
  <h3>Le début des économies, c'est par ici :</h3>
</div>
<br>
<div>
  <%=link_to "Nouvelle Simulation", user_full_simulations_path(current_user), method: :post, class: "btn btn-primary"%>
</div>
<br>
<div>
	<%= link_to "Back", :back %>
</div>
