<h1>FullSimulations#show</h1>
<p>Find me in app/views/full_simulations/show.html.erb</p>

<div>
	<% if @full_simulation.only_one_gas_simulation %>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Assurance</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Banquaire</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Energie</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Numérique</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Mutuelle</button>
  <% else %>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Assurance</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Banquaire</button>
	  <%=link_to "Energie", new_user_full_simulation_energy_path(current_user, @full_simulation), class: "btn btn-primary"%>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Numérique</button>
	  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Mutuelle</button>
  <% end %>
</div>