<h1>Energies#show</h1>
<p>Find me in app/views/energies/show.html.erb</p>

<%=link_to "Gas", new_gas_simulation_path, class: "btn btn-primary"%>
<button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Electricité</button>

<div>
	<%= link_to "Back", :back %>
</div>
