<h1>Energies#show</h1>
<p>Find me in app/views/energies/show.html.erb</p>

<button type="button" class="btn btn-primary">Gas</button>
<button type="button" class="btn btn-primary disabled" style="cursor: not-allowed">Electricité</button>
