<footer class="container-fluid text-white bg-primary pt-5">
  <div class="text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">POINT Budget</h5>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">point@pointbudget.fr</a>
          </li>
          <li>
            <a href="#!">+33 3 33 33 33 33</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links
        <h5 class="text-uppercase">Links</h5>-->

        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>

</footer>

