<footer class="container-fluid text-white bg-primary pt-5">
  <div class="text-center text-md-left">
    <div class="row justify-content-between">
      <div class="col-md-6 mt-md-0 mt-3 text-center align-self-center">
      <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">point@pointbudget.fr</a>
          </li>
          <li>
            <a href="#!">+33 3 33 33 33 33</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 mb-md-0 mb-3 text-center d-flex justify-content-around">
        <span><%= link_to 'ABOUT', static_pages_about_path %></span>
        <span><%= link_to 'TERMS AND CONDITIONS', '#!' %></span>
      </div>
    </div>
  </div>
  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>

</footer>

