<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
		  <h1 class="display-4">Bienvenu sur Point Budget!</h1>
		  <p class="lead">La meilleure façon de gérer son budget est de le comparer.</p>
		</div>
		<div class="col-md-12">
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <button class="btn mr-2 mb-2 btn-pill btn-outline-primary" type="button">Je m'inscris et lance ma première simulation</button>
		</div>
	</div>
</div>